body
  background linear-gradient(top, whitesmoke, grey)
  margin 0

nav ul
  padding 0 20
  border radius 10
  list-style none

header
  border solid 1 black

header:before 
  right 100%

header:after
  left 100%

nav 
  background-image url(../images/header-clouds2.jpg)
  border 1 solid black
 
nav ul
  display flex
  flex-flow row
  align-items center
  justify-content space-around

nav ul li  
  font-family segoe ui,helvetica,arial,sans-serif
  font-size 30
  font-weight bold
  text-decoration none
  text-shadow 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue
  
.subnav li
  position relative
  background #0939d7
  z-index 999

nav ul li a 
  text-decoration none
  color lightblue

nav ul li a:hover
  color whitesmoke

nav ul ul 
  display none
  position absolute

nav ul li:hover > ul
  display list-item

.subnav li
  background rgba(200, 200 , 200, .3)

nav ul li ul a
  font-size 24

.content
  height 250
  background lightgrey
  padding 10
  
.grid 
  width 95%
  height 60%

.fancy 
  text-align center
  font-family 'Playfair Display SC', serif;
  font-style italic
  font-size 60

@media screen and (min-width: 0px) and (max-width: 640px)
  nav
    flex-flow column